<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>currency-converter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <div id="app">
    <br>
    <br>
    <div class="container well">
      <div class="row">
        <p class='text-center h1'>Currency Converter</p>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6   my-5">
          <div class="form-group">
            <label class='h4' for="sel1">From:</label>
            <select class="form-control" v-model='from' id="sel1">
              <option :value='currency.id' v-for='currency in formatedCurrencies'>
                {{currency.currencyName +' ('+ currency.currencySymbol+')'  }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6  my-5">
          <div class="form-group">
            <label for="sel1" class='h4'>To:</label>
            <select class="form-control" v-model='to' id="sel1">
              <option :value='currency.id' v-for='currency in formatedCurrencies'>
                {{currency.currencyName +' ('+ currency.currencySymbol+')'  }}</option>
            </select>
          </div>
        </div>
        <div class="">
          <div
            class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3 col-xs-offset-3">
            <div class="form-group">
              <p class='text-centre'>
                <input type="text" class="form-control" placeholder="Amount" v-model='amount'>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3 col-xs-offset-3">
          <div class='text-center'>
            <button :disabled='disabled' @click='convertCurrencies'
              class='btn btn-lg btn-primary'>{{ !loading ? 'convert': 'convering...'}}</button>
            <h1>{{calculateResult}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src='app.js'>
  </script>
</body>

</html>
